<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="3"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="jquery/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    $(document).ready(function(){
        var socket = io();

        function submitMsg() {
            let msg = $("#textInput").val();
            if(msg !== '')
                socket.emit('message sent', msg);
            document.getElementById('textInput').value = '';
        }

        $("#submitBtn").on("click", submitMsg);
        $("#textInput").on('keypress',function(e) {
            if(e.which == 13) {
                submitMsg()
            }
        });

        socket.on('load message', (msg) => {
            msg.forEach(m => {
                $("div.msg-container").append(`<div>${m.name}: ${m.msg}</div>`);
            })
        })
        socket.on('new message', (msg) => {
            $("div.msg-container").empty();
            msg.forEach(m => {
                $("div.msg-container").append(`<div>${m.name}: ${m.msg}</div>`);
            })
        })
    });
    </script>
</head>
<body>
    <div class="msg-container"></div>
        <input type="text" id="textInput"> 
        <button type="submit" id="submitBtn">submit</button>
</body>
</html>