<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="3"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chat</title>
  <link rel="stylesheet" href="/style/style.css" />
  <script src="jquery/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    // script pembuka, get user
    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = document.cookie;
      let ca = decodedCookie.split(";");
      for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == " ") {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return null;
    }

    // to manually delete cookie (for testing only)
    // document.cookie = "140.213.0.22=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

    var name;
    var socket = io();
    const ScrolltoBottom = () => $(".msg-container").animate({
      scrollTop: 9999
    }, "fast");

    $(function () {
      let user = "<%= user%>";
      let nametag = getCookie(user);
      console.log(user);
      if (!nametag) {
        name = prompt("What do you want to be called as?");
        if (name && name != "") document.cookie = `${user}=${name}`;
      } else name = nametag;

      $("#file-btn").click(function () {
        $("#attachment").click();
      })
    })
  </script>

  <script src="/script/basic.js"></script>
  <script src="/script/image-pasting.js"></script>

</head>

<body>
  <div class="header"><span class="nametag">Currently posting as: </span></div>
  <div class="chatbox">
    <div class="msg-container msg" id="msg-container">
    </div>
  </div>
  <div class="container" id="bottom">
    <div style="" id="statArea">
      <div class="center file-upload-notice"></div>
    </div>
    <div class="center" id="inputArea">
      <button id="file-btn">+</button>
      <input type="text" id="textInput" />
      <input type="file" style="display:none;" id="attachment" accept="image/*" />
      <button type="submit" id="submitBtn">submit</button>
    </div>
    <div class="is-typing-container"></div>
  </div>
  </div>

</body>

</html>