<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <httpProtocol>
        <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
    </httpProtocol> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regis</title>

    <script>
        
    </script>

</head>
<body>
    input nama lu
    <form action="/" method="POST">
        <input type="text" id="input" name="nama">
        <input type="submit">
    </form>
</body>
</html>